.ingredient {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 208px;
    background-color: #131313;
}

.image {
    padding-bottom: 8px;
}

.price {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}